* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Inter';
}

h2 {
    margin: 10px 0;
}

input,
button {
    outline: none;
    border: none;
    background: none;
}

input {
    font-size: var(--font-size);
}

button {
    cursor: pointer;
}

::placeholder {
    color: var(--light-content-default-secondary);
}
