:root {
    --font-size: 16px;

    /* colors */
    --light-text-primary: #050510;
    --light-text-secondary: #55555c;
    --light-text-tetriary: #97979b;
    --light-content-default-secondary: #c3c3c6;

    --light-active-primary: #6534ff;
    --light-bg-secondary: #f7f7f8;
}
